nav {
  height: 5rem;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--color-bg-darkgrey);
}

.navbar__contents {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.navbar__logo {
  display: inline-block;
  overflow: hidden;
  flex-grow: 1;
}

.navbar__logo img {
  width: 70px;
  height: 70px;
}

.navbar__link {
  margin-left: 2rem;
  flex-grow: 0;
}

.navbar__links {
  display: flex;
  gap: 3.5rem;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: calc(50%-0.6rem);
  transform: rotate(45deg);
  margin-top: 0.9rem;
}

.link__details {
  color: var(--color-white);
  transition: var(--transition);
}

.link__details:hover {
  color: rgb(189, 183, 0);
}

.simple__menu, #simple__menu {
  display: none;
}

.button {
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-white);
  transition: var(--transition);
}

.button:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-login{
  background: transparent;
  color: var(--color-white);
}
/* MEDIA QUERIED */

@media screen and (max-width: 800px) {
  .simple__menu,#simple__menu {
    display: block;
  }

  .navbar__links,
  .navbar__link,
  .button__login {
    display: none;
  }
}
